/target
.env
config.json
/ForestBot
/forestbot-wrapper-v2-master
/Hub-master
*.bat
*.ps1
CLAUDE.md
config.json
TRADEFEATURES.md
json/*.*
compilelog.txt
*.py
godtexts/manichaeanism.txt.zst
godtexts/gnosticism2.txt.zst
godtexts/mandaeanism.txt.zst
godtexts/noi.txt.zst
godtexts/shinto.txt.zst
godtexts/ofudesaki.txt.zst
godtexts/cao_dai.txt.zst
godtexts/elderscrolls.txt.zst
godtexts/subgenius.txt.zst
godtexts/tolkien.txt.zst
godtexts/canaan.txt.zst
godtexts/templeofset.txt.zst
godtexts/laveyanism.txt.zst
godtexts/noddism.txt.zst
godtexts/earthseed.txt.zst
godtexts/incan.txt.zst
godtexts/aztec2.txt.zst
godtexts/andrastianism.txt.zst
godtexts/bokononism.txt.zst
godtexts/unificationchurch.txt.zst
godtexts/catharism.txt.zst
godtexts/jedi.txt.zst
godtexts/mormon2.txt.zst
godtexts/deadseascrolls.txt.zst
godtexts/mandaeanism2.txt.zst
godtexts/iammovement.txt.zst
godtexts/acadfuturesci.txt.zst
godtexts/unarius.txt.zst
godtexts/aetherius.txt.zst
